article{
    width: calc(100% - 210px);
    max-width: 800px;
    margin: 70px 0;
    font-size: 1.2em;
    letter-spacing: 0.003em;
    line-height: 1.58;
}

article > h1{
    position: relative;
}

article > h1::before{
    content: "";
    position: absolute;
    width: 75px;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient( -90deg, whitesmoke -60%, var(--blue), var(--blue) );
}

article img{
    width: 100%;
}

article .smiley{
    font-size: 1.7em;
}

article .date{
    font-style: italic;
}

article section{
    margin: 20px 0;
}

article figcaption{
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
}

article .initial-width{
    width: initial;
}

article .center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article img.small{
    width: 450px;
}

article .center-line{
    display: block;
    margin: auto;
}

article a {
    border-bottom: 1px solid #453886;
    color: #453886;
    padding-bottom: .15em;
    text-decoration: none;
}
  
article a:hover, article a:focus {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.cmd{
    font-family: consolas;
    font-size: 0.93em;
    background-color: var(--black);
    color: var(--white);
    display: block;
    padding: 10px 50px;
    margin: 5px 0;
    position: relative;
    border-radius: 10px;
    border: 3px solid #32b903;
}

.cmd::before{
    content: '›';
    position: absolute;
    left: 15px;
}

.example {
    font-size: 0.93em;
    display: block;
    background-color: #eee;
    margin: 1em 0;
    padding: 5px 15px;
}

article pre{
    display: inline-block;
    margin: 0;
}

.code {
  background: rgb(194, 194, 194);
  border-radius: 2px;
  padding: 5px;
}

.block {
  display: block;
  margin: 15px 0;
  padding: 15px;
  overflow-wrap: break-word;
  white-space: pre-line;
}

@media only screen and (max-width: 768px) {
    article{
        margin-top: 15px;
        width: 90%;
    }
}