article{
    width: 800px;
    margin: 70px auto;
    font-size: 1.1em;
}

article img{
    width: 100%;
}

article .smiley{
    font-size: 1.7em;
}

article .date{
    font-style: italic;
}

article section{
    margin: 20px 0;
}

article figcaption{
    font-style: italic;
    text-align: center;
    font-size: 0.9em;
    margin-top: 10px;
}

article .initial-width{
    width: initial;
}

article .center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article img.small{
    width: 450px;
}

@media only screen and (max-width: 768px) {
    article{
        width: initial;
        margin-top: 5px;
    }

    article section{
        margin: 20px 25px;
    }

    article h1,
    article p{
        margin: 5px 25px;
    }
}